html,body{
   height: 100%;
}
body,dl,dd{
    margin: 0;
}
.header{
    height: 70px;
    line-height: 70px;
    background-color: #354457;
}

.left-menu{
    float: left;
    width: 200px;
    height: calc(100% - 70px);
    background-color: #4d5e70;
}
.right-content{
    position: relative;
    float: left;
    width: calc(100% - 200px);
    height: calc(100% - 70px);
    background-color: #eee;
    
}
.header .logo{
    padding-left: 20px;
    color: #b3bcc5;
    font-size: 14px;
}
.header .logo img{
    height: 30px;
    width: 30px;
    vertical-align: middle;
}
.left-menu dl{
    line-height: 40px;
    font-size: 14px;
    color: #b3bcc5;
}
.left-menu dl dt{
    padding-left: 10px;
}
.left-menu dl dd{
    padding-left: 40px;
    cursor: pointer;

}
.left-menu dl dd:hover{
    background-color: rgba(255,255,255,0.5);
    color: #354457;

}
.left-menu dl dd.active{
    background-color: #ddd;  
    color: #354457;

}
.right-content .content{
    position: absolute;
    width: 100%;
}
form{
    width: 400px;
    margin: 20px auto;
}
form div{
    margin: 10px 0;
}
form div lable:not(.sex){
    display: inline-block;
    width: 80px;
    text-align: center;
}
form .btn{
    padding: 5px 28px;
}